:root{
   --vermelho:#e50914;
    --preta:#141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: Arial, Times , serif;
    color:white;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial black';
    font-size: 40px;
}
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}
span h4 {
    margin-left: 10px;
    padding: 10px;
    font-family: Arial, Times , serif;
   
    
}

.item {
    max-width: 100%;
    transition: all 0.3s;
}
.item:hover{
     border:3px solid white;    
}
/*coisas relacionadas a serie um maluco no pedaço*/
.filme-principal{
    font-size: 20px;
    background: linear-gradient(rgba(0 ,0,0, .50),rgba(0,0,0,.50)100%), url('../img/capa-will.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .descricao{
    margin-bottom:40px ;
    margin-top: 10px;
}
.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 20px;
    font-size: 12px;
    cursor: pointer;
    transition:.3s ease all ;
}
.botao:hover{
    background-color: white;
    color: black;
}
.botao i{
   margin-right: 8px; 
}
.container{
    margin-left: 20px;
}
.filme-principal .container{
    width: 70%;
}
.box-filme{
    height:100%;
    width: 100%;
    display: block;

}
.carrossel-filmes{
    margin-top: 5px;
}
/* layout página mais informações*/
.elenco{
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 10px;
}
.will{
    padding: 10px;
}
.carlton{
    padding-left: 10px;
}
.series{
    padding: 10px;
}
.documentarios{
    padding: 10px;
  
    width:1024px;

}